<main>

    <footer class="footer-section">

        <div class="logo-container">
            <h1>News <br /> Blog</h1>
        </div>

        <div class="logoAndLinks">
            <div class="company">
                <h2>Company</h2>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Our Staff</li>
                <li>Advertise</li>

            </div>


            <div class="Legal">
                <h2>Company</h2>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Our Staff</li>
                <li>Advertise</li>

            </div>

            <div class="Follow">
                <h2>Company</h2>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Our Staff</li>
                <li>Advertise</li>

            </div>
        </div>




    </footer>

    <div class="copyright">
        <h4>Copyright © 2025 Business Blog</h4>
        <h4>Powered by Business Blog</h4>
    </div>
</main>



<script type="module" src="/js/index.js"></script>
</body>

</html>