<header>
    <nav class="nav-link">

        <div class="block-1">
            <!-- search -->
            <div class="search-input">
                <span>search place holder</span>
            </div>

            <!-- logo -->
            <div class="logo-container">
                <h1>News Blog</h1>
            </div>

            <!-- login -->
            <div class="place-holder-for-signin">
                <div class="place-holder">Sign-ip</div>
            </div>

            <!-- hamb menu -->
            <div class="menu">
                <span></span>
            </div>

        </div>


        <div class="bloc-2">
            <div class="overlay">
                <div class="links-container">
                    <div class="close-menu">
                        <span>X</span>
                    </div>

                    <div class="links-wrapper">

                        <!-- <a class="links" href="">
                            <li>item-1</li>
                        </a>

                        <a class="links" href="">
                            <li>item-2</li>
                        </a>
                        <a class="links" href="">
                            <li>item-3</li>
                        </a>
                        <a class="links" href="">
                            <li>item-4</li>
                        </a>
                        <a class="links" href="">
                            <li>item-5</li>
                        </a>
                        <a class="links" href="">
                            <li>item-6</li>
                        </a>
                        <a class="links" href="">
                            <li>item-7</li>
                        </a> -->



                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>