<%- include('./partials/header.ejs') %>

    <body>
        <main>
            <!-- hero section -->
            <section class="hero">
                <header class="hero-wrapper">
                    <div class="hero-grid-1">
                        <img src="/images/1.jpeg" alt="">
                        <div class="hero-grid-1_container">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                            <span class="createdAt">June 28, 2021 </span>
                        </div>
                    </div>
                    <!--grid img right  -->
                    <div class="hero-grid-2">
                        <div class="hero-grid_card">
                            <div class="hero-grid_card_content test-1">

                                <div class="hero-gid_card-img">
                                    <img src="/images/2.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>
                            <!-- copy -->
                            <div class="hero-grid_card_content">

                                <div class="hero-gid_card-img">
                                    <img src="/images/2.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>


                            <div class="hero-grid_card_content">

                                <div class="hero-gid_card-img">
                                    <img src="/images/2.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>
                        </div>

                        <!-- copies  -->

                    </div>

                </header>

            </section>

            <div class="underline"></div>

            <!-- <section class="editor-pick">

                <div class="grid-editor-pick-wrap">

                    <div class="editor-pick_card">
                        <div class="hero-gid_card_text">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>

                    <div class="editor-pick_card">
                        <div class="hero-gid_card_text">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>

                    <div class="editor-pick_card">
                        <div class="hero-gid_card_text">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>


                </div>



            </section> -->
        </main>
    </body>

    </html>