<%- include('./partials/header.ejs') %>

    <body>
        <main>
            <!-- hero section -->
            <section class="hero">
                <header class="hero-wrapper">
                    <div class="hero-grid-1">
                        <img src="/images/1.jpeg" alt="">
                        <div class="hero-grid-1_container">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                            <span class="createdAt">June 28, 2021 </span>
                        </div>
                    </div>
                    <!--grid img right  -->
                    <div class="hero-grid-2">
                        <div class="hero-grid_card">
                            <div class="hero-grid_card_content test-1">

                                <div class="hero-gid_card-img">
                                    <img src="/images/2.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>
                            <!-- copy -->
                            <div class="hero-grid_card_content">

                                <div class="hero-gid_card-img">
                                    <img src="/images/3.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>


                            <div class="hero-grid_card_content">

                                <div class="hero-gid_card-img">
                                    <img src="/images/4.jpeg" alt="">
                                </div>
                                <div class="hero-gid_card-text">
                                    <span class="tag">Tag</span>
                                    <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                    <span class="createdAt">June 28, 2021 </span>
                                </div>
                            </div>
                        </div>

                        <!-- copies  -->

                    </div>

                </header>

            </section>







            <div class="underline"></div>



            <section class="editor-pick">

                <!-- editor  -->

                <div class="editor-pick-wrap">

                    <div class="editor-pick_card">
                        <div class="editor_card_text editor-pick-1">
                            <a href=""> <span class="tag">Editors | PickPolitics</span> </a>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>

                    <div class="editor-pick_card  editor-pick-2">
                        <div class="editor_card_text">
                            <a href=""> <span class="tag">Editors | PickPolitics</span> </a>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>

                    <div class="editor-pick_card editor-pick-3">
                        <div class="editor_card_text">
                            <a href=""> <span class="tag">Editors | PickPolitics</span> </a>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                        </div>
                    </div>


                </div>

            </section>



            <!-- ========= ads and subscribe=========== -->
            <section class="ads-subscribe">
                <div class="ads"></div>

                <!-- subscriber form -->
                <div class="subscribe">
                    <h1> Subscribe To Our Newsletter</h1>
                    <p> Egestas eu molestie lacus, rhoncus, gravida aliquet sociis vulputate faucibus tristique odio</p>
                    <form id="subscribe-form">
                        <input type="text" placeholder="email" id="email-subscription">
                        <button type="button" id="Subscribe-btn">Subscribe</button>
                    </form>
                    <div class="subscribe-message">Thank you</div>

                </div>
            </section>

            <!-- ========= short post with description =========== -->


            <article class="short-post">
                <section class="stock-market">
                    <div class="short-post-title ">
                        <h1>Stock Market</h1>
                        <span>View All-></span>
                    </div>
                    <div class="grid_card_content-wrap card-grid-container">
                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div>



                        <!-- copy -->
                        <!-- 
                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>

                                <h2 class="grid-title">What Your Relationship With Stock Market Says About You</h2>

                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div> -->


                        <!-- 
                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div> -->
                    </div>
                </section>




            </article>





            <div class="underline"></div>

            <!-- ========= short post in image - latest technology =========== -->


            <article class="short-post-latest">
                <section class="latest-technology">
                    <div class="short-post-title">
                        <h1>Latest Technology</h1>
                        <span>View All-></span>
                    </div>
                    <div class="latest_card_content-wrap">
                        <!-- <div class="latest_card_content">

                            <div class="latest_card-img">
                                <img src="/images/7.jpeg" alt="">
                            </div>
                            <div class="latest_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div> -->



                        <!-- copy -->


                        <!-- <div class="latest_card_content">

                            <div class="latest_card-img">
                                <img src="/images/7.jpeg" alt="">
                            </div>
                            <div class="latest_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div> -->



                    </div>
                </section>
            </article>

            <div class="underline"></div>



            <!-- politics -->
            <article class="short-post">
                <section class="stock-market">
                    <div class="short-post-title">
                        <h1>Politics</h1>
                        <span>View All-></span>
                    </div>
                    <div class="grid_card_content-wrap politic-container">
                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div>



                        <!-- copy -->

                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>

                                <h2 class="grid-title">What Your Relationship With Stock Market Says About You</h2>

                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div>



                        <div class="grid_card_content">

                            <div class="grid_card-img">
                                <img src="/images/5.jpeg" alt="">
                            </div>
                            <div class="grid_card-text">
                                <span class="tag">Stock Market</span>
                                <h2>What Your Relationship With Stock Market Says About You</h2>
                                <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                    massa
                                    egestas risus, gravida vel amet, imperdiet ...</p>
                            </div>
                        </div>
                    </div>
                </section>




            </article>


            <div class="underline"></div>

            <!-- 2 article in one automobile and heaalth -->

            <div class="wrap-article-sections">

                <article class="short-post">
                    <section class="article-sections doublecardSection">
                        <div class="short-post-title doublecardSection-title-left">
                            <h1>Market</h1>
                            <span>View All-></span>
                        </div>
                        <div class="article_card_content-wrap">
                            <div class="card-article-sections_content doublecardSection-left-content">

                                <div class="grid_card-img">
                                    <img src="/images/5.jpeg" alt="">
                                </div>
                                <div class="grid_card-text">
                                    <span class="tag">Stock Market</span>
                                    <h2>What Your Relationship With Stock Market Says About You</h2>
                                    <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                    <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                        massa
                                        egestas risus, gravida vel amet, imperdiet ...</p>
                                </div>
                            </div>






                        </div>
                    </section>




                </article>



                <div class="underline-vertical"></div>

                <article class="short-post">
                    <section class="article-sections">
                        <div class="short-post-title">
                            <h1>Right Market</h1>
                            <span>View All-></span>
                        </div>
                        <div class="article_card_content-wrap">
                            <div class="card-article-sections_content doublecardSection-right-content">

                                <div class="grid_card-img">
                                    <img src="/images/5.jpeg" alt="">
                                </div>
                                <div class="grid_card-text">
                                    <span class="tag">Stock Market</span>
                                    <h2>What Your Relationship With Stock Market Says About You</h2>
                                    <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                    <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                        massa
                                        egestas risus, gravida vel amet, imperdiet ...</p>
                                </div>
                            </div>






                        </div>
                    </section>




                </article>

            </div>

            <div class="cta-signup">
                <div class="cta-text">
                    Your posts will be the next
                    Egestas suspendisse bibendum tempus cursus pulvinar eget odio ultricies augue.
                </div>

                <button class="signin"> sign in </button>
            </div>








            <!-- must read -->
            <div class="must-read-wrap">
                <article class="short-post must-read-section ">
                    <section class="article-sections must-read-section-article ">
                        <div class="short-post-title">
                            <h1>Stock Market</h1>
                            <span>View All-></span>
                        </div>
                        <div class="article_card_content-wrap must-read-article-wrap">
                            <div class="card-article-sections_content must-read-article-section-content">

                                <div class="grid_card-img">
                                    <img src="/images/5.jpeg" alt="">
                                </div>
                                <div class="grid_card-text">
                                    <span class="tag">Stock Market</span>
                                    <h2>What Your Relationship With Stock Market Says About You</h2>
                                    <span class="createdAt"> <span>author name</span> June 28, 2021 </span>
                                    <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque nibh amet,
                                        massa
                                        egestas risus, gravida vel amet, imperdiet ...</p>
                                </div>
                            </div>






                        </div>
                    </section>




                </article>

                <div class="stay-connected-social-media-section">
                    <div class="social-media-container">
                        <div class="socials-icon">

                        </div>
                        <div class="social-text">
                            <p>1222</p>
                        </div>

                    </div>
                    <!-- copy -->
                    <div class="social-media-container">
                        <div class="socials-icon">

                        </div>
                        <div class="social-text">
                            <p>1222</p>
                        </div>

                    </div>

                    <div class="social-media-container">
                        <div class="socials-icon">

                        </div>
                        <div class="social-text">
                            <p>1222</p>
                        </div>

                    </div>
                </div>
            </div>
















        </main>


        <%- include('./partials/footer.ejs') %>
            <script type="module" src="/js/pages/home.js"></script>