<%- include('./partials/header.ejs') %>

    <body>
        <main>
            <!-- hero section -->
            <section class="hero">
                <header class="hero-wrapper">
                    <div class="hero-grid-1">
                        <img src="/images/1.jpeg" alt="">
                        <div class="hero-grid-1_container">
                            <span class="tag">Tag</span>
                            <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                            <span class="createdAt">June 28, 2021 </span>
                        </div>
                    </div>
                    <!--grid img right  -->
                    <div class="hero-grid-2">
                        <div class="hero-grid_card">

                            <div class="hero-gid_card-img">
                                <img src="/images/2.jpeg" alt="">
                            </div>
                            <div class="hero-gid_card-text">
                                <span class="tag">Tag</span>
                                <p>Want a Career in Technology? Make This Your Secret Weapon</p>
                                <span class="createdAt">June 28, 2021 </span>
                            </div>
                        </div>

                    </div>

                </header>

            </section>
        </main>
    </body>

    </html>