.article-flex {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/********************* left-section-article */

.left-section-article {
  flex: 1 1 100%;
}

.left-section-article h1 {
  font-size: 28px;
  padding: 24px 0 0 0;
}

.grid_card_content {
  padding: 24px 0;
}

.section-grid-card-content-wrap {
  display: block;
}

.section-grid-card-content {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 24px;
  margin-bottom: 62px;
}

.section-grid-card-content a {
  display: inline-block;
  text-decoration: none;
  border: none;
  stroke: none;
  background: transparent;
  padding: 12px 0;
  color: white;
  font-size: 18px;
  margin: 8px 0;
}

.section-grid-card-content .grid_card-text h2 {
  font-size: 26px;
  padding-top: 18px;
}

@media only screen and (min-width: 768px) {
  .article-flex {
    flex-direction: row;
  }
  .left-section-article h1 {
    font-size: 32px;
  }
}
/********************* Right-section-article */

.right-section-article {
  border-left: 1px solid rgb(255, 255, 255);
  flex: 1 1 40%;
  padding-top: 24px;
  padding-left: 24px;
}

.recent-links {
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
  padding: 16px 0;
  gap: 16px;
}
