/* header and nav */

.nav-link {
  padding: 0 16px;
}

main {
  padding: 0 16px;
  height: 100%;
  /* border: 1px solid red; */
}
.search-input,
.place-holder-for-signin {
  display: none;
}

.block-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--p-s);
  /* border: 1px solid white; */
}

/* menu spam */
.menu {
  position: relative;
  cursor: pointer;
}

.menu span {
  display: block;
  width: 1.6rem;
  height: 0.15rem;
  position: relative;
}

.menu span::before {
  display: block;
  content: "";
  position: absolute;
  top: 0rem;
  right: 0.6rem;
  width: 100%;
  height: 0.15rem;
  background: var(--third-color);
  transition: var(--transition-1);
}

.menu span::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0rem;
  width: 100%;
  height: 0.15rem;
  background: var(--third-color);
  transition: var(--transition-1);
}

/* Hover Effect: Switch back to original */
.menu:hover span::before {
  right: 0;
}

.menu:hover span::after {
  left: -0.6rem;
}

/* logo  */
.logo-container,
.menu {
  padding: var(--p-xl) 0;
}

.logo-container {
  text-transform: uppercase;
  font-family: var(--font-lora);
}

/* side nav */
.close-menu {
  padding: 0.8rem;
  color: white;
  text-align: right;
  cursor: pointer;
}

.close-menu span {
  font-size: 1.5rem;
  margin-right: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 34, 0.7);
  transition: var(--transition-1);
}

.links-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background-color: var(--negative-BK);
  transition: var(--transition-1);
}

.links-wrapper {
  padding: 0 var(--p-m);
}

.links {
  display: block;
  color: var(--secondary-color);
  padding: var(--p-m);
  transition: var(--transition-1);
}

.links:hover {
  background-color: var(--complementary-color);
}

/* .show-menu */

.overlay.show-menu {
  left: 0;
  z-index: 10;
  /* opacity: 1; */
  /* transition: var(--transition-1); */
}

.overlay.show-menu .links-container {
  left: 0;
  /* opacity: 1; */
  /* transition: var(--transition-1); */
}

/* desktop */
@media only screen and (min-width: 768px) {
  .nav-link {
    padding: 0 24px;
  }

  main {
    padding: 0 24px !important;
    margin: 0;
  }
  .block-1 {
    padding: 0 var(--p-l);
  }
}
@media only screen and (min-width: 922px) {
  .nav-link {
    max-width: 1024px;
    margin: auto;
  }

  .search-input,
  .place-holder-for-signin {
    display: block;
  }

  .place-holder-for-signin {
    padding: 10px 40px;
    border: 1px solid white;
  }

  .logo-container {
    font-size: 24px;
    /* border: 1px solid white; */
  }
  .menu {
    display: none;
  }
  .close-menu {
    display: none;
  }
  .overlay {
    position: unset;
    left: 0;
    top: 0;
    transition: none;
  }

  .links-container {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    transition: none;
    background-color: transparent;
  }

  .links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
  }

  .links {
    color: var(--secondary-color);
    padding: 0 var(--p-m);
    /* transition: var(--transition-1); */
  }
}

/* left grid */
.hero-wrapper {
  display: grid;

  grid-template-rows: repeat(2, max(150rem, 1fr));
  /* grid-template-rows: repeat(2, 369px); */
  row-gap: 16px;
  column-gap: 16px;
}
/* top grid or grid img left */
.hero-grid-1 {
  position: relative;
  width: 100%;
  /* min-height: 369px; */
  grid-row: 1;
  overflow: hidden;
}

.hero-grid-1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.hero-grid-1 img,
.hero-gid_card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-grid-1 .hero-grid-1_container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: var(--p-l);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.hero-grid-2 {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.hero-grid_card_content {
  display: flex;
  align-items: center;
  height: 369px;
  margin-bottom: 16px;
  /* border: 4px solid white; */
}

.hero-gid_card-img {
  width: 55%;
  max-width: 300px;
  height: 100%;
}

.hero-gid_card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-gid_card-text {
  width: 45%;
  padding-left: 16px;
  font-weight: 600;
}

.hero-grid-1 .tag,
.hero-gid_card-text .tag {
  display: inline-block;
  padding: 0 var(--p-m);
  background: var(--complementary-color);
  margin-bottom: var(--m-s);
  font-size: var(--font-size-s);
}

.hero-grid-1 .createdAt,
.hero-gid_card-text .createdAt {
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--p-m) 0;
}

/* editor  */

.hero-grid-1 .tag,
.hero-gid_card-text .tag {
  display: inline-block;
  padding: 0 var(--p-m);
  background: var(--complementary-color);
  margin-bottom: var(--m-s);
  font-size: var(--font-size-s);
}

@media only screen and (min-width: 768px) {
  /* menu stay the same  */

  /* hero  */
  main {
    padding: 0 8px;
  }
  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    height: 100%;
  }
  .hero-grid-1 {
    grid-row: 1;
    grid-column: 1/2;
    height: auto;
  }

  .hero-grid-1_container p {
    font-size: 24px;
  }
  .hero-grid-2 {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: stretch;
  }

  .hero-grid_card_content {
    /* control the height of flex inside of the right grid  */
    height: 200px;
    flex-grow: 1;
    justify-content: stretch;
    overflow: hidden;
  }

  .hero-grid_card_content:nth-child(3) {
    margin-bottom: 0;
  }
  .hero-gid_card-img {
    height: auto;
    align-self: stretch;
  }

  .hero-gid_card-img img {
    object-fit: stretch;
  }
}

@media only screen and (min-width: 922px) {
  main,
  .nav-link {
    max-width: 1300px;
    margin: auto !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-grid_card_content {
    /* this height control the parent grid  */
    height: 150px;
    /* border: 4px solid white; */
  }
}

/********************* editor pick */

.editor-pick-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 16px;
}

/* [class*="text-"] */

.editor-pick_card :nth-child(n) {
}

.editor_card_text .tag {
  display: inline-block;
  margin-bottom: var(--m-s);
  font-size: var(--font-size-s);
}

@media only screen and (min-width: 768px) {
  .editor-pick-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 64px 0;
  }

  .editor_card_text p {
    font-size: var(--font-size-m);
  }
}

/********************* editor pick */

.ads-subscribe {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  margin-top: var(--m-extra);
  margin-bottom: var(--m-xl);
}

.ads {
  width: 100%;
  height: 200px;
  background-color: rgb(161, 143, 254);
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  border: 1px solid white;
  font-size: 20px;
  padding: var(--p-m);
  margin-top: 24px;
}

.subscribe h1 {
  font-size: 20px;
}

.subscribe p {
  font-size: 16px;
  max-width: 80%;
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  margin: 18px 0 0 0;
  /* max-width: 80%; */
  gap: 12px;
}

#subscribe-form input {
  border: none;
  background: rgb(86, 86, 86);
  width: 100%;
  padding: 16px 8px;
  margin: auto;
}

#subscribe-form button {
  width: 100%;
  padding: 12px 0;
  border: none;
  stroke: none;
  appearance: none;
  color: white;
  margin: 0 auto;
  background-color: rgb(151, 151, 151);
}

@media only screen and (min-width: 580px) {
  .subscribe p {
    margin: auto;
  }
  .ads-subscribe {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #subscribe-form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  #subscribe-form input {
    width: 60%;
  }

  #subscribe-form button {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .ads {
    height: 263.5px;
  }
  .ads-subscribe {
    flex-direction: row;
    gap: 12px;
    margin: 64px 0;
  }

  .subscribe {
    margin-top: 0;
  }
}

/********************* short-post stock-market */

.stock-market {
  margin: 64px 0;
}

.short-post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-post-title h1 {
  font-size: 24px;
}

.grid_card_content-wrap {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: start;
  align-content: start;
  gap: 16px;
}

.grid_card_content {
  padding: 24px 0;
}

.grid_card-img {
  width: 100%;
}

.grid_card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_card-text h2 {
  font-size: 18px;
}

.grid_card-text .tag {
  display: inline-block;
  padding: var(--p-s) 0;

  margin-bottom: var(--m-s);
  font-size: var(--font-size-m);
}

.grid_card-text .createdAt {
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--p-s) 0;
}

@media only screen and (min-width: 768px) {
  .short-post-title h1 {
    font-size: 30px;
  }

  .grid_card_content-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

/********************* latest tech */

.latest-technology {
  margin: 64px 0;
}

.latest_card_content-wrap {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.latest_card_content {
  position: relative;
}
.latest_card_content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.latest_card-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
}

.latest_card-text h2 {
  font-size: 18px;
}

.latest_card-text .tag {
  display: inline-block;
  padding: var(--p-s) 0;

  margin-bottom: var(--m-s);
  font-size: var(--font-size-m);
}

.latest_card-text .createdAt {
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--p-s) 0;
}

.latest_card-img {
  height: 235;
}
.latest_card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .latest_card_content-wrap {
    flex-direction: row;
  }

  .latest_card-text h2 {
    font-size: 16px;
  }
}

/********************* wrap-article-sections */

.wrap-article-sections {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 64px 0;
}

.card-article-sections_content {
  margin: 24px 0;
}

/********************* sign up */

.cta-signup {
  width: 80%;
  height: 60%;
  background: white;
  color: black;
  padding: 24px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.signin {
  padding: 12px 28px;
}

/********************* must read */

.must-read-wrap {
  display: flex;
  flex-direction: column;

  margin: 64px 0;
  /* border: 1px solid red; */
}

.stay-connected-social-media-section {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.social-media-container {
  border: 1px solid white;
  text-align: center;
  padding: 12px;
}

.socials-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.social-text {
  font-size: 18px;
  margin: 12px 0;
}

@media only screen and (min-width: 768px) {
  .must-read-wrap {
    flex-direction: row;

    /* gap: 40px; */
  }

  .must-read-section-article {
    border: 1px solid white;
    margin-right: 48px;
    /* width: 80%; */
  }

  .must-read-article-section-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

/********************* footer read */

.logoAndLinks {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 24px;

  /* justify-content: space-around; */
}

.logoAndLinks h2 {
  /* font-size: 18px; */
  padding: 12px 0;
}

.logoAndLinks li {
  /* font-size: 14px; */
  padding: 4px 0;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: 12px;
  font-weight: 100;
}

.footer-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* border: 1px soli red; */
  background-color: rgb(78, 78, 78);
  margin: 72px auto 24px auto;
}

@media only screen and (min-width: 580px) {
  .footer-section {
    max-width: 1300px;
    flex-direction: row;
    justify-content: space-around;
  }

  .logoAndLinks {
    /* width: 45%;
    display: flex;
    gap: 24px; */
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .logoAndLinks h2 {
    font-size: 18px;
  }

  .logoAndLinks li {
    font-size: 14px;
  }

  .copyright {
    flex-direction: row;
  }
}
