/* header and nav */

.search-input,
.place-holder-for-signin {
  display: none;
}

.block-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--p-l);
  /* border: 1px solid white; */
}

/* menu spam */
.menu {
  position: relative;
  cursor: pointer;
}

.menu span {
  display: block;
  width: 1.6rem;
  height: 0.15rem;
  position: relative;
}

.menu span::before {
  display: block;
  content: "";
  position: absolute;
  top: 0rem;
  right: 0.6rem;
  width: 100%;
  height: 0.15rem;
  background: var(--third-color);
  transition: var(--transition-1);
}

.menu span::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0rem;
  width: 100%;
  height: 0.15rem;
  background: var(--third-color);
  transition: var(--transition-1);
}

/* Hover Effect: Switch back to original */
.menu:hover span::before {
  right: 0;
}

.menu:hover span::after {
  left: -0.6rem;
}

/* logo  */
.logo-container,
.menu {
  padding: var(--p-xl) 0;
}

.logo-container {
  text-transform: uppercase;
  font-family: var(--font-lora);
}

/* side nav */
.close-menu {
  padding: 0.8rem;
  color: white;
  text-align: right;
  cursor: pointer;
}

.close-menu span {
  font-size: 1.5rem;
  margin-right: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 34, 0.7);
  transition: var(--transition-1);
  /* opacity: 0; */
}

.links-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background-color: var(--negative-BK);
  transition: var(--transition-1);
}

.links-wrapper {
  padding: 0 var(--p-m);
}

.links {
  display: block;
  color: var(--secondary-color);
  padding: var(--p-m);
  transition: var(--transition-1);
}

.links:hover {
  background-color: var(--complementary-color);
}

/* .show-menu */

.overlay.show-menu {
  left: 0;
  z-index: 10;
  /* opacity: 1; */
  /* transition: var(--transition-1); */
}

.overlay.show-menu .links-container {
  left: 0;
  /* opacity: 1; */
  /* transition: var(--transition-1); */
}

/* desktop */

@media only screen and (min-width: 768px) {
  /* menu stay the same  */
}
@media only screen and (min-width: 922px) {
  .nav-link {
    max-width: 1024px;
    margin: auto;
  }

  .search-input,
  .place-holder-for-signin {
    display: block;
  }

  .place-holder-for-signin {
    padding: 10px 40px;
    border: 1px solid white;
  }

  .logo-container {
    font-size: 24px;
    /* border: 1px solid white; */
  }
  .menu {
    display: none;
  }

  .bloc-2 {
    /* border: 1px solid wheat; */
  }

  .close-menu {
    display: none;
  }
  .overlay {
    position: unset;
    left: 0;
    top: 0;
    transition: none;
  }

  .links-container {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    transition: none;
    background-color: transparent;
  }

  .links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .links-wrapper {
    padding: 0 var(--p-m);
  } */

  .links {
    /* display: block;
    color: var(--secondary-color); */
    padding: 0 var(--p-m);
    /* transition: var(--transition-1); */
  }
}

/* hero */

main {
  padding: 0 24px;
}

.hero {
  display: grid;
}

/* left grid */
.hero-wrapper {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: auto auto; */
  grid-template-rows: 369px 369px;
  row-gap: 16px;
  column-gap: 16px;
}
/* top grig or grid img left */
.hero-grid-1 {
  position: relative;
  width: 100%;
  min-height: 369px; /* Changed from height to min-height */
  grid-row: 1;
  overflow: hidden;
}

.hero-grid-1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.hero-grid-1 img,
.hero-gid_card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-grid-1 .hero-grid-1_container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: var(--p-l);
  font-size: var(--font-size-m);
  font-weight: 600;
}

/* grid img right */

.hero-grid-2 {
  grid-row: 2;
  min-height: 369px; /* Changed from height to min-height */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.hero-grid_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-gid_card-img {
  width: 55%;
  height: 369px;
}

.hero-gid_card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-gid_card-text {
  width: 45%;
  padding-left: 16px;
  font-weight: 600;
}

.hero-grid-1 .tag,
.hero-gid_card-text .tag {
  display: inline-block;
  padding: 0 var(--p-m);
  background: var(--complementary-color);
  margin-bottom: var(--m-s);
  font-size: var(--font-size-s);
}

.hero-grid-1 .createdAt,
.hero-gid_card-text .createdAt {
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--p-m) 0;
}

@media only screen and (min-width: 768px) {
  /* menu stay the same  */
}
@media only screen and (min-width: 922px) {
}
