@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* lora only */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  /* font */
  --font-lato: "Lato", serif;
  --font-lora: "Lora", serif;
  --font-size-s: 12px;
  --font-size: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;

  /* max-with */
  --max-width: 76.5rem;

  /* padding and margin */

  --p-s: 0.5rem;
  --p-m: 1rem;
  --p-l: 1.5rem;
  --p-xl: 2rem;
  --p-xxl: 2.5rem;

  --m-s: 0.5rem;
  --m-m: 1rem;
  --m-l: 1.5;
  --m-xl: 2rem;
  --m-xxl: 2.5rem;
  --m-extra: 52px;

  /* color */

  --primary-color: #212121;
  --secondary-color: #fff;
  --third-color: chocolate;
  --complementary-color: #46485d;

  --negative-BK: #000;

  /* trasition  */

  --transition-1: all 0.3s linear;

  /* grid */

  --grid-min: 277px;
  --grid-setup-1-desktop: repeat(auto-fit, minmax(200px, 1fr));
  --grid-setup-1-mobile: repeat(
    auto-fill,
    minmax(min(var(var(--grid-min)), 100%), 1fr)
  );
}

/* 
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }


*/

/********************* editor pick */
/* 
.ads-subscribe {
  display: flex;
  flex-direction: column;
}

.ads {
  width: 100%;
  height: 200px;
  background-color: rgb(161, 143, 254);
  margin-top: var(--m-extra);
  margin-bottom: var(--m-xl);
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  border: 1px solid white;
  font-size: 20px;
  padding: var(--p-m);
}

.subscribe h1 {
  font-size: 20px;
}

.subscribe p {
  font-size: 16px;
} */

/* #subscribe-form {
  display: flex;
  flex-direction: column;
  margin: 18px 0 0 0;
  max-width: 80%;
  gap: 12px;
}

#subscribe-form input {
  border: none;
  background: rgb(86, 86, 86);
  width: 100%;
  padding: 16px 8px;
  margin: auto;
}

#subscribe-form button {
  width: 100%;
  padding: 12px 0;
  border: none;
  stroke: none;
  appearance: none;
  color: white;
  margin: 16px auto;
  background-color: rgb(151, 151, 151);
} */

/* @media only screen and (min-width: 580px) {
  #subscribe-form button {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .ads-subscribe {
    display: flex;
    flex-direction: row;
  }
  #subscribe-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #subscribe-form button {
    padding: 16px;
    margin: 0;
  }

  .ads-subscribe {
    flex-direction: row;
  }

  .ads {
    width: 60%;
  }

  #subscribe-form {
    display: flex;
    flex-direction: column;
    margin: 18px 0 0 0;
    max-width: 80%;
    gap: 12px;
  }

  #subscribe-form input {
    border: none;
    background: rgb(86, 86, 86);
    width: 100%;
    padding: 16px 8px;
    margin: auto;
  }

  #subscribe-form button {
    width: 100%;
    padding: 12px 0;
    border: none;
    stroke: none;
    appearance: none;
    color: white;
    margin: 16px auto;
    background-color: rgb(151, 151, 151);
  }
} */
